<a href="https://colab.research.google.com/github/pyojung/AIpython/blob/main/240419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
scores = []
while True:
  score = input("학생의 점수를 입력하세요.")
  if score.isdigit():
    scores.append(int(score))
  else:
    break
sum_scores = sum(scores)
len_scores = len(scores)
average_scores = sum(scores)/len(scores)
print("입력 데이터 출력:",scores)
print("합계:",sum_scores)
print("인원수:",len_scores)
print("평균:",average_scores)

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.x
입력 데이터 출력: [90, 70, 30]
합계: 190
인원수: 3
평균: 63.333333333333336

In [15]:
fruit = "apple#banana#cherry#orange"
x= fruit.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [16]:
lang= {'Python', 'Java', 'Ruby'}
x = "->".join(lang)
print(x)

Java->Ruby->Python

In [17]:
number_list = [ x**2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [18]:
even_list = [ x for x in range(1,11) if x % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

In [19]:
citys =  ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
S_citys = [ x for x in citys if x.startswith("S")]
print(S_citys)

['Seoul', 'Shanghai']

In [20]:
langs =  ['Python', 'Java', 'JavaScript']
newlst = [(idx,lang) for idx,lang in enumerate(langs)]
print(newlst)

[(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

In [21]:
langs =  ['Python', 'Java', 'JavaScript']
newlst = [(idx,lang) for idx,lang in enumerate(langs,start = 1)]
print(newlst)

[(1, 'Python'), (2, 'Java'), (3, 'JavaScript')]

In [22]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_nums = list(filter(lambda x:x%2==0,numbers))
print(even_nums)

[2, 4, 6, 8, 10]

In [23]:
ages = [5, 12, 17, 18, 24, 32]
age = list(filter(lambda x:x>=18,ages))
print(age)

[18, 24, 32]

In [24]:
def convert_to_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

scores = [88, 92, 78, 60, 75, 95]

grade = list(map(convert_to_grade,scores))
print(grade)

['B', 'A', 'C', 'D', 'C', 'A']