<a href="https://colab.research.google.com/github/pyojung/AIpython/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = 5
if a>5:
  print("5보다 크다")
print("프로그램종료")

프로그램종료

In [6]:
a = 5
if a>5:
  print("5보다 크다")
elif a<= 5:
  print("5보다 작다")
print("프로그램종료")

5보다 작다
프로그램종료

In [4]:
a =5
if a%2 == 0:
  print("짝수")
elif a%2 != 0:
  print("홀수")

홀수

In [8]:
a =5
if a%2 == 0:
  print("짝수")
else:
  print("홀수")

홀수

In [11]:
a = 5
if a>5:
  print("5보다 크다")
elif a< 5:
  print("5보다 작다")
else:
  print("5랑 같다")

5랑 같다

In [12]:
a ,b = 10,5
if a >5:
  if b<10:
    print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

In [13]:
a ,b = 10,5
if a>5 and b<10:
  print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

In [20]:
score = int(input("점수 입력하세요:"))
if score >= 90:
  print("A입니다")
elif score >= 80:
  print("B입니다")
elif score >= 70:
  print("C입니다")
elif score >= 60:
  print("D입니다")
else:
  print("F입니다")

점수 입력하세요:100000
A입니다

In [21]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [29]:
a=[1,2,3,4,5]
for i in a:
  print(i,end="")

12345

In [30]:
a=[1,2,3,4,5]
b=0
for i in a:
  b+=i
print(b)

15

In [36]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [24]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for x in '월화수':
  print(x)

월
화
수

In [34]:
while i in range(5):
  print(i)
  i += 1

1
2
3
4

In [37]:
for i in range(1,100,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [38]:
for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [46]:
a =[]
b = []
for i in range(1,101):
  if i %2 == 0:
    a.append(i)

  else:
    b.append(i)
print(a)
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [45]:
for i in range(2,101,2):
  if i %2==1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [48]:
a =[]
b = []
for i in range(1,11):
  if i %2 == 0:
    a.append(i)

  else:
    b.append(i)
total_a = sum(a)
total_b = sum(b)
print(total_a)
print(total_b)

30
25

In [50]:
a,b=0,0
for i in range(1,11):
  if i%2==1:
    a+=i
  else:
    b+=i
print(a)
print(b)

25
30

In [2]:
# N개의 정수 입력 받기
dwarfs = list(map(int, input().split()))

# 난쟁이들의 키 합 구하기
total_height = sum(dwarfs)

# 합이 100이 되는 두 명의 키 찾기
for i in range(9):
    for j in range(i+1, 9):
        if total_height - (dwarfs[i] + dwarfs[j]) == 100:
            # 합이 100이 되는 두 명을 제외한 다섯 명의 번호 출력하기
            for k in range(9):
                if k != i and k != j:
                    print(dwarfs[k],end=" ")

            # 반복문 종료
            exit()

7 8 10 13 15 19 20 23 25
7 8 10 13 19 20 23